h1 {
  font-family: sans-serif;
  color: navy;
}

h2 {
  color: lavender;
  background-color: navy;
  padding: 12px 24px;
  margin-left: -24px;
  margin-right: -24px;
  font-family: sans-serif;
}

h3 {
  color: slateblue;
}

/* checkpoint */
body {
  background-color: ghostwhite;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

/* checkpoint */

img {
  max-height: 200px;
}

/* checkpoint */

div {
  width: 100%;
  max-width: 900px;
  margin: auto;
  background-color: lavender;
  padding: 24px;
}

p {
  font-family: "Open Sans", "Trebuchet MS", sans-serif;
}

/* checkpoint */

span.poison-type {
  background-color: slateblue;
}

span.grass-type {
  background-color: green;
}

span.fire-type {
  background-color: red;
}

span.water-type {
  background-color: dodgerblue;
}

span {
  color: white;
  font-weight: bold;
  padding: 8px;
}

/* checkpoint */

p {
  background-color: oldlace;
  padding: 24px;
  margin: 24px 0;
  border: 1px solid darkkhaki;
  transition: transform 0.2s;
}

/* checkpoint */

p:hover {
  background-color: lemonchiffon;
  transform: scale(1.05);
}
